.table{
  border: 1.3px solid black;
  margin: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;

}
.title{
  font-family: "Roboto";
  font-weight: 400;
  margin: 10px 20px;
  
}
.headings{
  margin: 10px 20px;
  display: flex;
  border-top: 1.3px solid black;
  border-bottom: 1.3px solid black;

}
.heading{
  display: flex;
  flex: 1;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  padding: 3px 10px;
}
